{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.heading }}
      </h2>
    {%- endif -%}

    {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
      {%- if form.posted_successfully? -%}
        <h2 class="form-status form-status-list form__message form-success-title" tabindex="-1" autofocus>
          {% render 'icon-success' %}
          お問い合わせありがとうございました。担当より折り返しご連絡いたします。
        </h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body form-error-title" role="alert" tabindex="-1" autofocus>
            {% render 'icon-error' %}
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </a>
          </li>
        </ul>
      {%- endif -%}

      <table>
        <tr>
          <th><label for="form_name">お名前</label></th>
          <td>
            <input type="text" id="form_name" name="contact[お名前]" placeholder="例）山田　太郎" required>
          </td>
        </tr>
        <tr>
          <th><label for="form_mail">メールアドレス</label></th>
          <td>
            <input type="email" id="form_mail" name="contact[email]" placeholder="例）xxxxxx@sample.com" required>
          </td>
        </tr>
        <tr>
          <th><label for="form_tel">電話番号</label></th>
          <td>
            <input type="tel" id="form_tel" name="contact[電話番号]" placeholder="例）098-943-5434" required>
          </td>
        </tr>
        <tr>
          <th><label for="form_textarea">お問い合わせ内容</label></th>
          <td>
            <textarea name="contact[body]" id="form_textarea" cols="30" rows="15" maxlength="500"></textarea>
          </td>
        </tr>
      </table>
      <p><a href="/pages/policy/" target="_blank">プライバシーポリシー</a>をご確認の上、「送信する」ボタンをクリックしてください。</p>
      <div class="btn-area"><button class="btn02">送信する</button></div>
      
    {%- endform -%}
  </div>
</div>

