<div class="p-lp_lineup" style="background-color: {{ section.settings.background_color }}; color: {{ section.settings.text_color }};">
  <style>
    .p-lp_lineup {
    padding: 100px 0 150px;
    }
    @media screen and (max-width: 768px) {
      .p-lp_lineup {
        padding: 50px 0;
      }
    }
    .p-lp_lineup .ttl h2 {
      text-align: center;
      font-size: 2.4rem;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 10px;
      color: inherit !important;
    }
    .p-lp_lineup .ttl .sub-ttl {
      text-align: center;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 70px;
      color: inherit !important;
    }
    @media screen and (max-width: 768px) {
      .p-lp_lineup .ttl .sub-ttl {
        margin-bottom: 40px;
      }
    }
    .p-lp_lineup ul {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      -moz-column-gap: 25px;
      column-gap: 25px;
      row-gap: 20px;
      list-style: none !important;
    }
    @media screen and (max-width: 768px) {
      .p-lp_lineup ul {
        width: 90%;
        padding: 0;
        -moz-column-gap: 15px;
        column-gap: 15px;
      }
    }
    .p-lp_lineup ul li {
      width: calc(25% - 18.75px);
    }
    @media screen and (max-width: 768px) {
      .p-lp_lineup ul li {
        width: calc(50% - 7.5px);
      }
    }
    .p-lp_lineup ul li a {
      text-decoration: none;
      color: inherit !important;
    }
    .p-lp_lineup ul li .img-box {
      width: 100%;
      aspect-ratio: 14/9;
      margin-bottom: 12px;
    }
    @media screen and (max-width: 768px) {
      .p-lp_lineup ul li .img-box {
        margin-bottom: 10px;
      }
    }
    .p-lp_lineup ul li .img-box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .p-lp_lineup ul li .name, .p-lp_lineup ul li .custom-name {
      margin: 0;
      font-weight: 500;
    }
    .p-lp_lineup ul li .name, .p-lp_lineup ul li .custom-price {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
    }
    @media screen and (max-width: 768px) {
      .p-lp_lineup ul li .name, .p-lp_lineup ul li .custom-price {
        font-size: 14px;
      }
    }
    .p-lp_lineup ul li .custom-price span {
      font-size: 13px;
    }
    @media screen and (max-width: 768px) {
      .p-lp_lineup ul li .custom-price span {
        font-size: 11px;
      }
    }
    .p-lp_lineup .custom-name, 
    .p-lp_lineup .custom-price {
      color: {{ section.settings.text_color }} !important;
    }
  </style>
  <div class="inner layer_custom">
    <div class="ttl">
      <h2>商品ラインナップ</h2>
      <p class="sub-ttl">Line Up</p>
    </div>
    <ul>
      {% for used_product_block in section.blocks %}
        {% if used_product_block.type == 'used_product_block' %}
          <li class="fadeIn">
            <a href="{{ used_product_block.settings.used_product.url }}">
              <div class="img-box obj-fit">
                <img src="{{ used_product_block.settings.used_product.featured_image.src | img_url: 'master' }}" alt="">
              </div>
              <p class="custom-name" style="color: {{ section.settings.text_color }};">{{ used_product_block.settings.used_product.title }}</p>
              <p class="custom-price" style="color: {{ section.settings.text_color }};">{{ used_product_block.settings.used_product.price | money }}<span>（税込）</span></p>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div><!-- /.wrap-lineup -->

{% schema %}
  {
    "name": "Item LINE UP",
    "presets": [{
      "name": "Item LINE UP",
      "category": "Custom"
    }],
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#333333"
      }
    ],
    "blocks": [
      {
        "type": "used_product_block",
        "name": "商品ブロック",
        "settings": [
          {
            "type": "product",
            "id": "used_product",
            "label": "商品を選択"
          }
        ]
      }
    ]
  }
{% endschema %}